.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    background: url(/images/shardalyzer-logo.png) 0 no-repeat;
    background-size: 244px 37px;
    width: 300px;
    height: 50px;
}

.navmenu-default {
	background-color: #69a340;
	color: white;
}

.navmenu-default .navmenu-brand {
	background-color: #3a281e;
	color: white;
	height: 50px;
	margin: 0;
}

.navmenu-default .navmenu-brand:hover,
.navbar-default .navbar-offcanvas .navmenu-brand:hover,
.navmenu-default .navmenu-brand:focus,
.navbar-default .navbar-offcanvas .navmenu-brand:focus {
  color: white;
  background-color: #3a281e;
}

.navmenu-default .navmenu-nav  {
	color: white;
}

.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  color: white;
  font-weight: bold;
  width: 100%;
}

.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
    background-color: #69a340;
  }
}

@media (min-width: 992px) {
/* uncomment to disable full navbar */
/*
  body {
    padding: 0;
  }
*/
  .navbar {
    right: auto;
    background-color: #3a281e;
    border: none;
  }
}
