html,
body {
   margin:0;
   padding:0;
   height:100%;
   width:100%;
}

body {
  position: relative;
  min-height: 100%;
  max-height: 100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background:#f5f6f7;
   padding:10px;
}

#content {
   padding:10px;
   background:#f5f6f7;
}

#footer {
  position: fixed;
  margin: auto 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height:50px;
  background-color: #3a281e;
  text-align: center;
  text-color: white;
}