html,
body {
   margin:0;
   padding:0;
   width: 100vw;
   height: 100vh;
   max-height: 100vh;
}

body {
  position: relative;
  background:#f5f6f7;
}

.container {
	height: 100%;
	width: 100%;
}

.flexv {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flexh {
  display: flex;
  flex-flow: row || wrap;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flexv .snug, .flexh .snug {
  flex: 0 1 auto;
}

.flexv .greedy, .flexh .greedy {
  flex: 1 1 auto;
}

.flexv .footer {
  flex: 0 1 40px;
  background-color: #3a281e;
  margin-left: -15px;
  width: 100vw;
  text-align: center;
  color: white;
}

.slider-track {
  background-image: -webkit-linear-gradient(top, #cccccc 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #cccccc 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #cccccc 0%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#fff9f9f9', GradientType=0);
}

.slider-tick {
  background-image: -webkit-linear-gradient(top, #ffebeb 0%, #ffcccc 100%);
  background-image: -o-linear-gradient(top, #ffebeb 0%, #ffcccc 100%);
  background-image: linear-gradient(to bottom, #ffebeb 0%, #ffcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffebeb', endColorstr='#ffffcccc', GradientType=0);
}