html,
body {
   margin:0;
   padding:0;
   width: 100vw;
   height: 100vh;
   max-height: 100vh;
}

body {
  position: relative;
  background:#f5f6f7;
}

.container {
	height: 100%;
	width: 100%;
}

.flexv {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flexh {
  display: flex;
  flex-flow: row || wrap;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flexv .snug, .flexh .snug {
  flex: 0 1 auto;
}

.flexv .greedy, .flexh .greedy {
  flex: 1 1 auto;
}

.flexv .footer {
  flex: 0 1 40px;
  background-color: #3a281e;
  text-align: center;
  color: white;
}
